.info-container {
    font-size: 16px;
    font-weight: 200px;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    gap: 100px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background-color: rgb(180, 255, 234);
    align-self: center;
    padding: 20px;
}

.temp {
    font-size: 22px;
}

.city {
    font-size: 28px;
}

.desc {
    font-size: 24px;
}

.info-container-sub-right {
    font-size: 20px;
    border-left: 4px solid rgb(0, 82, 75);
    padding-left: 40px;
}

.info-container-sub-left {

    border-radius: 2px;

}